<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BRHDBConnectionString" connectionString="Data Source=119.59.97.65;Initial Catalog=BCHDB;User ID=admin;Password=11681168" providerName="System.Data.SqlClient"/>
    <add name="BRHDBConnectionString1" connectionString="Data Source=119.59.97.65;Initial Catalog=BCHDB;Persist Security Info=True;User ID=admin;Password=11681168" providerName="System.Data.SqlClient"/>
    <add name="BRHDBConnectionString2" connectionString="Data Source=119.59.97.65;Initial Catalog=BCHDB;Persist Security Info=True;User ID=admin;Password=11681168" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
    <machineKey validationKey="A28C21A07ACC0813C786B17C38DA0072E1021DC7AD9D653BDF62AFCA9FFDB7134460608170F79BCAF681070A14C2201F8DD1A66B155D571135B0012ABD964697" decryptionKey="90A34593791BA4EA7FFE3C86B438E1DECE0BCB0D6CDE71E416B5D020ACF989C5" validation="SHA1" decryption="AES"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
      <add key="cs" value="server=119.59.97.65;uid=admin;pwd=11681168;database=BCHDB;"/>
      <!--<add key="cs" value="server=122.155.1.199;uid=bangkokrayong;pwd=telecorp;database=BRHDB;"/>-->
    <add key="website" value="http://www.chanthaburihospital.com"/>
    <add key="webname" value="โรงพยาบาลกรุงเทพจันทบุรี"/>
    <!--
    <add key="smtpMailHost" value="122.155.1.199"/>
    <add key="smtpMailUsername" value="info@bangkokrayong.com"/>
    <add key="smtpMailPassword" value="admin"/>
        -->
    <add key="smtpMailHost" value="119.59.97.65"/>
    <add key="smtpMailUsername" value="autosystem@telecorp.co.th"/>
    <add key="smtpMailPassword" value="systemauto"/>
    <add key="CheckupService.Service" value="http://10.121.10.7/checkupservice/Service.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true"/>
        </security>
    </system.webServer>
</configuration>